language: php

services: mongodb

php:
  - 7.1
  - 7.2

before_script:
  - echo "extension=mongodb.so" >> ~/.phpenv/versions/$(phpenv version-name)/etc/php.ini
  - composer self-update
  - composer install --no-interaction
  - mongo < tests/build/travis-mongo-setup.js


script:
- ./vendor/bin/phpunit --testdox

notifications:
  email: false
  slack:
    rooms:
      - jdmc-team:PLAjCONQPBv9xHabM1fAQ4RT
    on_success: always # default: always
    on_failure: always # default: always
