language: php

services: 
  - elasticsearch
  - mysql

php:
  - 7.1
  - 7.2
  - nightly

before_script:
  - composer self-update
  - composer install --no-interaction
  - mysql -e 'CREATE DATABASE IF NOT EXISTS turbostar_test;'
  - mkdir storage/app/schedule
  - php artisan es:indices:create --env=testing
  - php artisan migrate:install --env=testing


script:
- ./vendor/bin/phpunit --testdox

notifications:
  email: false
  slack:
    rooms:
      - jdmc-team:PLAjCONQPBv9xHabM1fAQ4RT
    on_success: always # default: always
    on_failure: always # default: always
